.container
  .row.gt-5.mt-5.mb-2.align.items.center
    .col-auto
      %h1 Meals
    .col-auto.ms-auto
      = link_to 'New Meal', new_meal_path, class: 'btn btn-primary'
  .row.align-items-center.mt-5.mb-5
    .col-auto
      %ul.list-group
        - @meals.each do |meal|
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            .ms-2.me-auto
              = link_to meal.name, meal_path(meal)
            = link_to 'Edit', edit_meal_path(meal), class: 'btn btn-outline-info btn-sm me-2'
            = link_to "Delete", meal_path(meal), 
                method: :delete, 
                data: { confirm: "Are you sure?" },
                class: 'btn btn-outline-danger btn-sm'
  
  .row.mt-5
    .col-auto
      =link_to 'Home', root_path, class: 'btn btn-primary'
