.container-md
  %h1.display-2.mb-5 Meals
  .row
    .col-auto 
      %h4 Add a new meal
  = render 'form', locals: { model: @meal }

  .row.align-items-center.mt-5.mb-5
    .col-8
      %ul.list-group
        - @meals.each do |meal|
          %li.list-group-item.d-flex.justify-content-between.align-items-start
            = meal.name
            = link_to 'Edit', edit_meal_path(meal), class: 'btn btn-outline-info'
            = link_to "Delete", meal_path(meal), 
                method: :delete, 
                data: { confirm: "Are you sure?" },
                class: 'btn btn-outline-danger btn-sm'
  
  .row.mt-5
    .col-auto
      =link_to 'Home', root_path, class: 'btn btn-primary'
