.container
  .row.my-5.align.items.center
    .col-auto
      %h1= @meal.name
    .col-auto.ms-auto
      = link_to 'Edit', edit_meal_path(@meal), class: 'btn btn-info'
  .row.g-3.d-flex.align-items-stretch
    -step_counter = 1
    - @recipes.each do |recipe|
      .col-sm-6.col-lg-3
        .card.h-100.d-inline-block
          .card-body
            %h5.card-title 
              Step
              = step_counter
            %p.card-text
              = recipe.step
      -step_counter +=1

